<div class="info-image"></div>
<div class="info">
  <p>
    This project is the demo created for
    <a href="https://frontendmasters.com/workshops/serverless-angular/"
      >Frontend Master's Serverless Angular workshop</a
    >. You can find the repo
    <a href="https://github.com/tzmanics/serverless-angular-workshop">here</a>
    on GitHub. If you want to see the project live, check it out at
    <a href="https://serverless-angular-workshop.netlify.app"
      >https://serverless-angular-workshop.netlify.app</a
    >.
  </p>
  <p>The following awesome tech was used to make this site:</p>
  <ul>
    <li>
      <a href="http://angular.io/">Angular & Angular Universal</a> for the
      frontend
    </li>
    <li>
      <a href="https://www.netlify.com/"
        >Netlify platform & Netlify Functions</a
      >
    </li>
    <li><a href="http://sanity.io/">Sanity</a> for the headless CMS</li>
    <li>
      <a href="https://stripe.com/docs/payments/checkout"
        >Stripe Checkout API</a
      >
      for checkout and payment
    </li>
    <li>
      <a href="https://auth0.com/">Auth0</a> for login, auth & role checking
    </li>
  </ul>
  <p>Phew, that's a lot of nice delegation and decoupling ;}</p>
</div>
